.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  margin-top: 20px;
  text-align: center;
  z-index: 1000;
  box-shadow: none;
}
.sticky-header h1 {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: "aerospace";
  font-size: 200px;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transform: translateY(40vh);
  transition: transform 0.5s;
}
.sticky-header h1.animated {
  animation: headerAnim 1s forwards;
}
@media (max-width: 1300px) {
  .sticky-header h1 {
    font-size: 100px;
    transform: translateY(40vh);
  }
}
@media (max-height: 800px) {
  .sticky-header h1 {
    font-size: 100px;
    transform: translateY(40vh);
  }
}
@media (max-width: 550px) {
  .sticky-header h1 {
    font-size: 65px;
    transform: translateY(40vh);
  }
  .sticky-header h1.animated {
    animation: headerAnimMobile 1s forwards;
  }
}
@media (max-height: 400px) {
  .sticky-header h1 {
    font-size: 80px;
  }
}
@keyframes headerAnim {
  0% {
    transform: translateY(40vh);
  }
  100% {
    transform: translateY(20px);
  }
}
@keyframes headerAnimMobile {
  0% {
    transform: translateY(40vh);
  }
  100% {
    transform: translateY(0);
  }
}

.landing-page {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.landing-page .fade-section {
  background-color: #333;
  background-position: center;
  background-size: cover;
  color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  z-index: 0;
  box-shadow: inset 0 -80px 90px black;
}
.landing-page .fade-section.visible {
  opacity: 1;
  transform: translateY(0);
  z-index: 1;
}
.landing-page .fade-section .background-video {
  position: absolute;
  opacity: 0.8;
  min-width: 100%;
  min-height: 100%;
}
.landing-page .fade-section .background-video.fit {
  min-width: 0;
  min-height: 0;
  max-width: 100%;
}
.landing-page .fade-section h3 {
  color: white;
  font-size: 2rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  z-index: 2;
  transition: all 0.5s ease-in-out;
  text-align: center;
}

.underline-anim {
  position: relative;
  overflow: hidden;
  z-index: 5;
}
.underline-anim::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: opacity 1s, transform 300ms;
  opacity: 1;
  transform: translate3d(-110%, 0, 0);
}
.underline-anim:hover::after, .underline-anim :focus::after {
  transform: translate3d(0, 0, 0);
}

@keyframes fadeMove {
  0% {
    opacity: 0;
    transform: translate(-50%, 0);
  }
  10% {
    opacity: 1;
    transform: translate(-50%, 0px);
  }
  80% {
    opacity: 1;
    transform: translate(-50%, 35px);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, 40px);
  }
}
.custom-section-1 .background-image {
  background-color: #aaa;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.custom-section-1.bg10 .bg10 {
  opacity: 1;
}
.custom-section-1.bg11 .bg11 {
  opacity: 1;
}
.custom-section-1.bg12 .bg12 {
  opacity: 1;
}
.custom-section-1.bg20 .bg20 {
  opacity: 1;
}
.custom-section-1.bg21 .bg21 {
  opacity: 1;
}
.custom-section-1.bg22 .bg22 {
  opacity: 1;
}
.custom-section-1.bg30 .bg30 {
  opacity: 1;
}
.custom-section-1.bg31 .bg31 {
  opacity: 1;
}
.custom-section-1.bg32 .bg32 {
  opacity: 1;
}
.custom-section-1.bg40 .bg40 {
  opacity: 1;
}
.custom-section-1.bg41 .bg41 {
  opacity: 1;
}
.custom-section-1.bg42 .bg42 {
  opacity: 1;
}
.custom-section-1.bg50 .bg50 {
  opacity: 1;
}
.custom-section-1.bg51 .bg51 {
  opacity: 1;
}
.custom-section-1.bg52 .bg52 {
  opacity: 1;
}
.custom-section-1.bg60 .bg60 {
  opacity: 1;
}
.custom-section-1.bg61 .bg61 {
  opacity: 1;
}
.custom-section-1.bg62 .bg62 {
  opacity: 1;
}
.custom-section-1 .bg10 {
  background-image: url("../res/bg-images/landing-images/10.jpg");
}
.custom-section-1 .bg11 {
  background-image: url("../res/bg-images/landing-images/11.jpg");
}
.custom-section-1 .bg12 {
  background-image: url("../res/bg-images/landing-images/12.jpg");
}
.custom-section-1 .bg20 {
  background-image: url("../res/bg-images/landing-images/20.jpg");
}
.custom-section-1 .bg21 {
  background-image: url("../res/bg-images/landing-images/21.jpg");
}
.custom-section-1 .bg22 {
  background-image: url("../res/bg-images/landing-images/22.jpeg");
}
.custom-section-1 .bg30 {
  background-image: url("../res/bg-images/landing-images/30.jpg");
}
.custom-section-1 .bg31 {
  background-image: url("../res/bg-images/landing-images/31.jpg");
}
.custom-section-1 .bg32 {
  background-image: url("../res/bg-images/landing-images/32.jpg");
}
.custom-section-1 .bg40 {
  background-image: url("../res/bg-images/landing-images/40.jpg");
}
.custom-section-1 .bg41 {
  background-image: url("../res/bg-images/landing-images/41.jpg");
}
.custom-section-1 .bg42 {
  background-image: url("../res/bg-images/landing-images/42.jpg");
}
.custom-section-1 .bg50 {
  background-image: url("../res/bg-images/landing-images/50.jpg");
}
.custom-section-1 .bg51 {
  background-image: url("../res/bg-images/landing-images/51.jpg");
}
.custom-section-1 .bg52 {
  background-image: url("../res/bg-images/landing-images/52.jpeg");
}
.custom-section-1 .bg60 {
  background-image: url("../res/bg-images/landing-images/60.jpg");
}
.custom-section-1 .bg61 {
  background-image: url("../res/bg-images/landing-images/61.jpg");
}
.custom-section-1 .bg62 {
  background-image: url("../res/bg-images/landing-images/62.jpg");
}
.custom-section-1 h3 {
  background: none;
  border: none;
  color: white;
  position: fixed;
  top: 300px;
  font-size: 200px !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin: 0;
}
@media (max-width: 1300px) {
  .custom-section-1 h3 {
    position: fixed;
    top: 200px;
    font-size: 120px !important;
  }
}
@media (max-width: 800px) {
  .custom-section-1 h3 {
    top: 200px;
    font-size: 80px !important;
  }
}
@media (max-height: 800px) {
  .custom-section-1 h3 {
    position: fixed;
    top: 200px;
    font-size: 120px !important;
  }
}
@media (max-height: 500px) {
  .custom-section-1 h3 {
    top: 130px !important;
    font-size: 100px !important;
  }
}
@media (max-width: 500px) {
  .custom-section-1 h3 {
    top: 230px;
    font-size: 55px !important;
  }
}
.custom-section-1 .landing-captions {
  position: fixed;
  top: 500px;
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 40%;
}
.custom-section-1 .landing-captions p {
  color: white;
  font-size: 40px;
  text-shadow: 2px 2px 20px black;
  transition: all 0.2s;
}
.custom-section-1 .landing-captions p span {
  animation: blink 0.5s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  71% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@media (max-width: 1300px) {
  .custom-section-1 .landing-captions p {
    font-size: 30px;
  }
}
@media (max-height: 800px) {
  .custom-section-1 .landing-captions p {
    font-size: 30px;
  }
}

@media (max-width: 1300px) {
  .landing-captions {
    position: fixed;
    top: 350px !important;
    max-width: 70%;
  }
}
@media (max-height: 800px) {
  .landing-captions {
    position: fixed;
    top: 350px !important;
    max-width: 70%;
  }
}
@media (max-height: 500px) {
  .landing-captions {
    top: 200px !important;
  }
}
.landing-nav {
  position: fixed;
  bottom: 30px;
  z-index: 3;
  width: 1100px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.landing-nav p {
  font-size: 30px;
  color: white;
  margin: 0 10px 0 10px;
}
.landing-nav .nav-button {
  background: none;
  border: none;
  margin: 0 10px 0 10px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  transition: all 0.2s;
}
.landing-nav .nav-button:hover {
  transform: scale(1.05);
}

@media (max-width: 1100px) {
  .landing-nav {
    display: none;
  }
}
@media (max-height: 600px) {
  .landing-nav {
    display: none;
  }
}/*# sourceMappingURL=Landing.css.map */